streamlit>=1.25.0
pandas==2.0.3     # Include if your code uses pandas
numpy==1.24.2      # Include if your code uses numpy
matplotlib==3.7.1  # Include if your code uses matplotlib
scikit-learn==1.2.1  # Include if your code uses scikit-learn
requests==2.28.2    # Include if your code uses requests
beautifulsoup4==4.11.1  # Include if your code uses BeautifulSoup
plotly==5.12.0     # Include if your code uses plotly
altair==5.0.0      # Include if your code uses altair
pydeck==0.8.1b0    # Include if your code uses pydeck
qrcode==7.3.1
Pillow==10.0.0
segno==1.4.0
folium
streamlit-folium
python-docx
googletrans==4.0.0-rc1
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
reportlab
Pillow==9.5.0
streamlit-drawable-canvas==0.9.2
gspread==5.4.0
oauth2client==4.1.3
